.typewriter {
    overflow: hidden;
    border-right: .15em solid #fff;
    margin: 0 auto;
    letter-spacing: .15em;
    white-space: nowrap;
    position: relative;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { max-width: 0 }
    to { max-width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
}